page-login.ion-content {
     background-image: url('http://hd.wallpaperswide.com/thumbs/mountain_at_night-t2.jpg');
    -webkit-background-image: url('http://hd.wallpaperswide.com/thumbs/mountain_at_night-t2.jpg');
}
.getstart {

background-image: url('http://wallpaperpulse.com/thumb/1725313.png');
// background: url('../../img/getstart.png');
background-repeat: no-repeat;
background-size:cover;
}
.backimg{
    background-image: url('http://wallpaperpulse.com/thumb/1725313.png');
    background-size:cover;
}