page-wishlist {

}
.getstart {

background-image: url('http://wallpaperpulse.com/thumb/1725313.png');
// background: url('../../img/getstart.png');
background-repeat: no-repeat;
background-size:cover;
}